a,a:visited {
  color: rgba(52, 179, 153, .9);
}
body {
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #eef2f6;
}

.page-header {
  width: 100%;
  height: 150px;
  flex-basis: 100%;
  display: flex;
  box-sizing: border-box;
  background: rgba(52, 179, 153, .9);
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -1px 0px 15px 0px rgba(0,0,0,0.47);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 300px;
  height: 93px;
  filter: invert(100%);
}

.page-header a, .page-header a:visited {
  color: white;
}

.tools {
  padding: 10px;
  text-align: justify;
  width: 25%;
  flex-basis: 25%;
  min-height: 600px;
  box-sizing: border-box;
  margin-right: 10px;
  background: #696e9e;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: -1px 0px 15px 0px rgba(0,0,0,0.47);
}

.tools h2 {
  color: white; 
}

h1, h2, h3, h4  {
  text-align: left;
  text-transform: uppercase;
  color: #696e9e;
}

ul {
  list-style-type: none;
}

.page-main-content {
  padding: 10px;
  width: calc(74% - 10px);
  flex-basis: calc(74%-10px);
  min-height: 600px;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.47);
}

.page-footer {
  width: 100%;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: -1px 0px 15px 0px rgba(0,0,0,0.47);
}

.author span {
  margin-top: 10px;
  color: silver;
}

.author span:first-child::before {
  display: inline-block;
  content: '~';
}   